<form action="<%= session_url %>" method= "POST">
  <%= auth_token %>
  <label for="email"> Email
    <input type="text" name="user[email]">
  </label>

  <label for="password"> Password
    <input type="password" name="user[password]">
  </label>

  <button>Log In</button>

</form>
