<form action="<%= users_url %>" method= "POST">
    <input
    type="hidden"
    name="authenticity_token"
    value='<%= form_authenticity_token %>'
  />
  <label for="email"> Email
    <input type="text" name="user[email]">
  </label>

  <label for="password"> Password
    <input type="password" name="user[password]">
  </label>

  <button>Create Account</button>

</form>
